In [1]:
# !pip install vaderSentiment

In [2]:
# Import Dependencies
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import pandas as pd

In [3]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path_1 = "Datasets/IRAhandle_tweets_1.csv"
csv_path_2 = "Datasets/IRAhandle_tweets_2.csv"
csv_path_3 = "Datasets/IRAhandle_tweets_3.csv"
csv_path_4 = "Datasets/IRAhandle_tweets_4.csv"
csv_path_5 = "Datasets/IRAhandle_tweets_5.csv"
csv_path_6 = "Datasets/IRAhandle_tweets_6.csv"
csv_path_7 = "Datasets/IRAhandle_tweets_7.csv"
csv_path_8 = "Datasets/IRAhandle_tweets_8.csv"
csv_path_9 = "Datasets/IRAhandle_tweets_9.csv"
csv_path_10 = "Datasets/IRAhandle_tweets_10.csv"
csv_path_11 = "Datasets/IRAhandle_tweets_11.csv"
csv_path_12 = "Datasets/IRAhandle_tweets_12.csv"
csv_path_13 = "Datasets/IRAhandle_tweets_13.csv"

In [4]:
## REMOVING NON-ENGLISH TWEETS
tweet_df1_English = pd.read_csv(csv_path_1,low_memory=False)[pd.read_csv(csv_path_1).account_category != 'NonEnglish']
tweet_df2_English = pd.read_csv(csv_path_2,low_memory=False)[pd.read_csv(csv_path_2).account_category != 'NonEnglish']
tweet_df3_English = pd.read_csv(csv_path_3,low_memory=False)[pd.read_csv(csv_path_3).account_category != 'NonEnglish']
tweet_df4_English = pd.read_csv(csv_path_4,low_memory=False)[pd.read_csv(csv_path_4).account_category != 'NonEnglish']
tweet_df5_English = pd.read_csv(csv_path_5,low_memory=False)[pd.read_csv(csv_path_5).account_category != 'NonEnglish']
tweet_df6_English = pd.read_csv(csv_path_6,low_memory=False)[pd.read_csv(csv_path_6).account_category != 'NonEnglish']
tweet_df7_English = pd.read_csv(csv_path_7,low_memory=False)[pd.read_csv(csv_path_7).account_category != 'NonEnglish']
tweet_df8_English = pd.read_csv(csv_path_8,low_memory=False)[pd.read_csv(csv_path_8).account_category != 'NonEnglish']
tweet_df9_English = pd.read_csv(csv_path_9,low_memory=False)[pd.read_csv(csv_path_9).account_category != 'NonEnglish']
tweet_df10_English = pd.read_csv(csv_path_10,low_memory=False)[pd.read_csv(csv_path_10).account_category != 'NonEnglish']
tweet_df11_English = pd.read_csv(csv_path_11,low_memory=False)[pd.read_csv(csv_path_11).account_category != 'NonEnglish']
tweet_df12_English = pd.read_csv(csv_path_12,low_memory=False)[pd.read_csv(csv_path_12).account_category != 'NonEnglish']
tweet_df13_English = pd.read_csv(csv_path_13,low_memory=False)[pd.read_csv(csv_path_13).account_category != 'NonEnglish']

## CONCATENATING
df_concat = pd.concat([tweet_df1_English, tweet_df2_English, tweet_df3_English, tweet_df4_English, 
                       tweet_df5_English, tweet_df6_English, tweet_df7_English, tweet_df8_English,
                       tweet_df9_English, tweet_df10_English, tweet_df11_English,
                       tweet_df12_English, tweet_df13_English])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
# delete these individual dfs to free up memory
del tweet_df1_English
del tweet_df2_English
del tweet_df3_English
del tweet_df4_English
del tweet_df5_English
del tweet_df6_English
del tweet_df7_English
del tweet_df8_English
del tweet_df9_English
del tweet_df10_English
del tweet_df11_English
del tweet_df12_English
del tweet_df13_English

In [41]:
# drop unusable rows
df_concat.drop(columns=["harvested_date", "tco3_step1", "tco2_step1", "tco1_step1","article_url"])
df_concat["publish_date"] = pd.to_datetime(df_concat['publish_date'])

In [36]:
#change datatype of content from object to string so that the VADER analysis will work on it
content_list = df_concat["content"]
content_list = content_list.astype(str)

In [37]:
# ----- SENTIMENT SCORING----

# make lists for different sentiment to group them together and analyze further
# also made list for tweet_id so that I can merge on it later
tweet_id = df_concat["tweet_id"]
compound_list = []
positive_list = []
negative_list = []
neutral_list = []

for x in content_list:
    results = analyzer.polarity_scores(x)
    
    compound = results["compound"]
    pos = results["pos"]
    neu = results["neu"]
    neg = results["neg"]

# Add each value to the appropriate list
    
    compound_list.append(compound)
    positive_list.append(pos)
    negative_list.append(neg)
    neutral_list.append(neu)

# make df of scores
df_concat_scores = pd.DataFrame({"tweet_id": tweet_id, "Compound_Score": compound_list, "Positive_Score": positive_list,
                               "Negative_Score": negative_list, "Neutral_Score": neutral_list})

df_concat_scores.head()

,tweet_id,Compound_Score,Positive_Score,Negative_Score,Neutral_Score
0,914580356430536707,0.0000,0.000,0.000,1.000
1,914621840496189440,0.0000,0.000,0.000,1.000
2,914623490375979008,-0.1531,0.126,0.198,0.676
3,914639143690555392,0.0000,0.000,0.000,1.000
4,914312219952861184,0.6399,0.413,0.000,0.587

In [38]:
#merge df of scores and original df
df_merged = pd.merge(df_concat_scores, df_concat, on="tweet_id")
df_merged.head()

,tweet_id,Compound_Score,Positive_Score,Negative_Score,Neutral_Score,external_author_id,author,content,region,language,...,account_type,retweet,account_category,new_june_2018,alt_external_id,article_url,tco1_step1,tco2_step1,tco3_step1,new_publish_date
0,914580356430536707,0.0000,0.000,0.000,1.000,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,...,Right,0,RightTroll,0,905874659358453760,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN,2017-10-01 19:58:00
1,914621840496189440,0.0000,0.000,0.000,1.000,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,...,Right,0,RightTroll,0,905874659358453760,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN,2017-10-01 22:43:00
2,914623490375979008,-0.1531,0.126,0.198,0.676,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,...,Right,1,RightTroll,0,905874659358453760,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN,2017-10-01 22:50:00
3,914639143690555392,0.0000,0.000,0.000,1.000,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,...,Right,0,RightTroll,0,905874659358453760,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN,2017-10-01 23:52:00
4,914312219952861184,0.6399,0.413,0.000,0.587,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,...,Right,1,RightTroll,0,905874659358453760,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN,2017-10-01 02:13:00

In [39]:
# save combined df as a csv
df_merged.to_csv("Output/all_data.csv", index=False, header=True)